# Model weights & binaries
*.onnx
*.pth
*.th
*.ckpt
*.chpt
*.safetensors
models/*
!models/.gitkeep

# Node.js & Next.js
node_modules/
frontend/node_modules/
frontend/.next/
.next/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
/.gradio

# Audio & Media files
*.wav
*.flac
*.mp3
*.ogg
*.opus
*.m4a
*.aiff
*.ac3
*.mp4
*.lrc
*.srt

# Specific files & Database
assets/favorites.db
assets/custom_settings.json

# Environments & Working Dirs
.env
.venv
env/
venv/
uploads/*
!uploads/.gitkeep
outputs/*
!outputs/.gitkeep
ytdl/*
!ytdl/.gitkeep
